*.py[cod]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
sdist

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# dart
packages/
pubspec.lock

# sass
.sass-cache/
