// customize bootstrap variables here:
@import "variables";
@import "bootstrap";


// customizations

$chat-window-width: 1200px;
$user-window-width: 100px;
$messagebar-window-height: 60px;

html, body, #chat-app {
    height: 100%;
    width: 100%;
    margin: 0;
}

#chat-app {
    padding: 5px;
}

#input {
  margin-top: 0.5em;
}

#inbox {
  width: calc(100% - #{$user-window-width} - 20px); 
  height: calc(100% - #{$messagebar-window-height} - 20px);
  overflow-y: scroll;
  display: inline-block;

  .message {
    padding-top: 0.25em;
  }

  .message .when {
    width: 120px;
    display: inline-block;
    text-align: right;
    padding-right: 10px;
  }

  .message .author {
    width: 120px;
    display: inline-block;
    text-align: right;
    padding-right: 10px;
  }
  .message .msgtext {
    display: inline;
  }
}

#userlist {
  width: $user-window-width;
  height: calc(100% - #{$messagebar-window-height} - 20px);
  overflow-y: scroll; 
  display: inline-block;
}

#footer {
  height: $messagebar-window-height;
  width: 100%;
  display: inline-block;
}
#footer form {
  display: inline-block;
}

.me {
    font-weight: bold;
}
.other {
}
