#input {
  margin-top: 0.5em;
}

#inbox .message {
  padding-top: 0.25em;
}
#inbox .message .when {
    width: 120px;
    display: inline-block;
    text-align: right;
    padding-right: 10px;
}
#inbox .message .author {
    width: 120px;
    display: inline-block;
    text-align: right;
    padding-right: 10px;
}
#inbox .message .msgtext {
    display: inline;
}

      #inbox {
        width: 1200px; 
        height: 600px;
        overflow-y: scroll;
        display: inline-block;
      }

#userlist {
  width: 100px;
  height: 600px;
  overflow-y: scroll; 
  display: inline-block;
}

#footer {
  height: 60px;
  width: 100%;
  display: inline-block;
}
#footer form {
  display: inline-block;
}
