{% extends "base.html" %}

{% block container %}
<div id="chat-app" chat-app ng-cloak>
    <div id="inbox">
      <div class="message" ng-repeat="message in ctrl.messages" ng-click="ctrl.selectMessage(message)">
          <div class="when">
              {{! message.when }}
          </div>
          <div class="author">
              {{! message.from }}
          </div>
          <div class="msgtext" ng-bind-html="message.body">
          </div>
      </div>
    </div>
    <div id="users">
        <ul id="userlist">
            <li ng-repeat="user in ctrl.users" ng-class="user.css()">{{! user.name }}</li>
        </ul>
    </div>
    <div id="footer">
                <form class="form-inline">
                    <div class="form-group">
                        <textarea name="body" id="message" class="form-control input-lg" ng-model="ctrl.in_progress_msg" ng-enter-submit submit="ctrl.addMessage()"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success btn-lg" ng-click="ctrl.addMessage()">send</button>
    
                    <div class="form-group">
                        <input type="file" id="file" name="file" />
                        <span id="progress-bar">0%</span>
                    </div>
                </form>
    </div>
    
    <script type="application/dart" src="{{ static_url("main.dart") }}"></script>
    <script type="text/javascript" src="{{ static_url("packages/browser/dart.js") }}"></script>
  
</div>
{% end %}
